[Unit]
Description=Check Git for Camera Remote updates

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=camera-remote-update.service

[Install]
WantedBy=timers.target
