#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/upload_last.sh                                                                                                                                                                                                70        24,70         All
#*/2 * * * * ping -c 2 8.8.8.8 >/dev/null 2>&1
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/timelapse.sh
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/motion_detection.sh