#*/2 * * * * ping -c 2 8.8.8.8 >/dev/null 2>&1
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/timelapse.sh
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/motion_detection.sh
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/w1temperatures.sh

#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "cleanup" 300 1800
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "detect-video-events" 20 600
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "detect-audio-events" 20 300
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "report-audio" 20 300
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "report-video" 0 300
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "report-external-temp-humidity" 30 300
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "report-cpu-temp" 20 120
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "temp-fail-safe" 20 60
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "process-influx-queue" 10 500


#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-1-record_video"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-2-annotate_snapshot"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-2-h264_to_mp4"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-2-upload_light_level"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-3-create_24h_snapshot"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-3-create_24h_timelapse"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-3-extract_motion_scores"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-4-detect_motion_segments"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-3-upload_annotated_snapshot"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-4-upload_24_snapshot"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "stage-4-upload_24_timelapse"
#*/5 * * * * /home/user/WORK/workspace/plants/shell/cron/run_periodic_check.sh "run-orchestrator"

